<h1>Editing mentorpost</h1>

<%= render "form", mentorpost: @mentorpost %>

<br>

<div>
  <%= link_to "Show this mentorpost", @mentorpost %> |
  <%= link_to "Back to mentorposts", mentorposts_path %>
</div>
